* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration : none;
    list-style : none;
}

.square {
    margin-left: 200px;
    margin-top:200px;
    width: 200px;
    height: 200px;
    background-color: red;
    animation: square 4s linear infinite;
}

@keyframes square {
    from{
        top: 0;
        left: 0;
        transform: rotate(-360deg);
    }
    to {
        top: 100%;
        left: 100%;
    }
}

.circle {
    margin-left: 200px;
    margin-top:200px;
    width: 200px;
    height: 200px;
    background-color: rgb(66, 180, 218);
    border-radius: 50%;
    animation: circle 2s linear infinite alternate;
}

@keyframes circle {
    from {
        top: 0;
        left: 0;
        transform: scale(1.2);
    }

    to {
        top: 100%;
        left: 100%;
    }
}