* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration : none;
    list-style : none;
    font-family: "Roboto",sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 16px;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}