* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.title {
    display: flex;
    justify-content: center;
    height: 2px;
    color: #FF4495;
    padding: 30px;
    font-family: "Josefin Sans", sans-serif;
}

.datamain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 46px;
    color: #232F55;
    align-items: center;
    font-weight: 500;
    margin-bottom: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.photos {
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    gap: 60px;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 50;
}

.chlen {
    display: block;
    width: 60%;
}

.box {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    padding: 50px;
    overflow: hidden;
}

.color {
    transition: 0.5s ease all;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
}

.p {
    margin-top: 20px;
    width: 60%;
    opacity: 0.7;
}

.box:hover .color{
    top: 0%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

span {
    font-size: 20px;
    font-weight: 500;
}