* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration : none;
    list-style : none;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background: linear-gradient(342deg, rgba(0,0,0,1) 0%, rgba(0,9,94,1) 36%);
    height: 1000px;
}

.maintext {
    display: flex;
    justify-content: center;
    gap: 250px;
    align-items: center;
}

span {
    color: #FF4495;
}

.p {
    color: white;
    font-size: 30px;
}

.text {
    width: 20%;
}

.text2 {
    width: 25%;
    color: white;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.box {
    border: 1px solid gray;
    padding: 100px;
}

.fa-feather-pointed {
    color: #FF4495;
}

.textbox {
    width: 60%;
    color: white;
}